<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">University of the Philippines</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Enrolled as BS Computer Science at University of the Philippines Baguio. Maintained a GWA of 1.09</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Dean's Lister</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">UPB Dean's Lister with a GWA of 1.23.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-Present</h4>
                                    <h4 class="subheading">Saint Louis University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Enrolled as BS Architecture student. Consistent Dean's Lister. Maintained a GWA of 1.22</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Second Semester AY 2015-2016</h4>
                                    <h4 class="subheading">Dean's Lister</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dean's Lister with a GWA of 1.23.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">Top 3 Architecture Student</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A top 3 student from School of Architecture at SLU with a GWA of 1.23.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://avatars0.githubusercontent.com/u/5535475" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hetu's gerl</h4>
                                    <h4 class="subheading">Jowakelsz</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Inistorbo sa tulog then sinagot thru letter/note ng hotel. Jijiji</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Masterpiece!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    